.weather-container {
    
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .weather-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #121d29;
  }
  
  .weather-container p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .weather-container p.description {
    font-weight: bold;
  }
  
  /* You can customize these styles based on your design preferences */
  